@import '../../../assets/styles/sass/mixins.scss';
@import '../../../assets/styles/sass/variables.scss';

.background-container {
    background-image: url('../../../assets/Images/pic1.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 500px;
    background-size: 100%;
    animation-name: changeBackground;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    @include flex-container(row,center, flex-end, wrap)
}

/* Keyframes for the animation */
@keyframes changeBackground {
    0% {
        background-image: url('../../../assets/Images/pic1.png');
    }
    33% {
        background-image: url('../../../assets/Images/pic1.png');
    }
   
    66% {
        background-image: url('../../../assets/Images/pic3.png');
    }
   
    100% {
        background-image: url('../../../assets/Images/pic1.png');
    }
}


.home-layout{
    @include flex-container(column,center, center, wrap);
    background-color: $background;
}

.chat {
    width: 90%;
    @include flex-container(row, flex-end, center, wrap);
    margin-bottom:40px;
}
