// palette of colors

$primaryColor:#F2F2F2;
$maincolor:#FFFFFF;
$background:#E7E7E7;
$secondarycolor:#FDFDFD;
$logocolor:#482683;
$textColor: #282626;
$textColor200: #939292;
$textColor300:#EC6608;
$textColor400:#4C4A4A;
$blackcolor:#000000;
$fontsize12: 12px;
$fontsize16: 16px;
$fontsize24:24px;
$fontsize36:36px;
$mainFont:'Yekan Bakh'